@import "../../../Styles/CommonStyle.scss";

.Section {
    @include Container(1500px);
}
.Description {
    > h1 {
        @include HomeTextStyle(500, 20px, 24px, $headerColor);
    }
    > div {
        width: 53px;
        height: 3px;
        background-color: #090076;
        border-radius: 50px;
    }
}

.Horizon {
    display: flex;
    justify-content: space-between;
}

.Card {
    width: 198px;
    min-height: 302px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    >div{
        width: 198px;
    
    }
    >h1{
        
    }
}
