@import "../../Styles/CommonStyle.scss";

.CanvasForImgs {
    @include Container(1000px);
    > div {
        > h1 {
            @include HomeTextStyle(500, 26px, 32px, $headerColor);
        }
    }
}

.BlueBorder {
    width: 92px;
    height: 3px;
    background-color: $mainColor;
    border-radius: 50px;
    opacity: 0.1;
    tran: opacity 1 ease 0.5s;
} /* Rectangle 33 */
