@import "../../Styles/CommonStyle.scss";

.Footer {
    width: 100%;
    min-height: 226px;
    background-color: #e6e5f1;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
        @include Container(220px);
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
            > div {
                
            }
        }

        > div > div {
            > 
        }
    }
}

.Icons{

    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerMenu{

}

.footerBorder {
    width: 1240px;
    height: 1px;
    background-color: white;
}
