@import "../../Styles/CommonStyle.scss";

// .GalleryMain {
//     width: 100%;
//     min-height: 770px;
// }
.GalleryCanva {
    @include Container(770px);
    margin-top: 40px;
}
.GalleryHorizon {
    display: flex;
    grid-template-columns:repeat(3,200px);
    margin-top: 30px;
}
