@import "../../Styles/CommonStyle.scss";

// .GalleryMain {
//     width: 100%;
//     min-height: 770px;
// }
.GalleryCanva {
    @include Container(770px);
    margin-top: 40px;
}
.GalleryHorizon {
    display: grid;
    grid-template-columns:repeat(6,13em);
    margin-top: 30px;
}


@media(max-width:1320px){
    float: center;
    .GalleryHorizon {
        grid-template-columns:repeat(6,11em);
       >div{
           >img{
               width: 190px;
           }
       }
    }
    
}