@import "../../Styles/CommonStyle.scss";

.GalleryMain {
    width: 100%;
    min-height: 1070px;
}
.GalleryCanva {
    @include Container(770px);
   
}
.GalleryHorizon {
  
    margin-top: 30px;
    >div{
        @include grid(5,0%);
       
    }
}

@media(max-width:1320px){
    .GalleryHorizon {
  
      
        >div{
            @include grid(2,5%)
        }
    }
}

// @media(max-width:1270px){
//     .GalleryHorizon {
  
      
//         >div{
//             @include grid(5,0%)
//         }
//     }
// }