@import "../../Styles/CommonStyle.scss";

// .GalleryMain {
//     width: 100%;
//     min-height: 770px;
// }
.GalleryCanva {
    @include Container(770px);
    margin-top: 40px;
}
.GalleryHorizon {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

@media(max-width:1250px){

    .GalleryHorizon {
        display: grid;
        grid-template-columns: repeat(4,200px);
        grid-template-rows: 100px 30px 80px;
    }
    
}