@import "../../../Styles/CommonStyle.scss";

.modalWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.modalWrapper .open {
    height: 100%;
    display: block;
}

.modalWrapper .close {
    height: 0;
    display: none;
}

.modalBody {
    max-width: 500px;
    margin: auto;
    background: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    overflow-y: scroll;
}

.modalBody::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.modalBody {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modalClose {
    text-align: right;
    margin-top: -15px;
    font-size: 20px;
    color: #5a5a5a;
    cursor: pointer;
}

.ModalCardImgAndPrice {
    display: flex;
}

.PriceDescription {
    margin-top: 20px;
    > h1 {
        @include HomeTextStyle(500, 22px, 27px, $mainColor);
        margin-left: 10px;
    }
    > h2 {
        /* Gravida nibh */

        @include HomeTextStyle(500, 18px, 22px, $headerColor);
    }
}

.CheckAccsesouares {
    display: flex;
    justify-content: space-between;

    > p {
        > input[type="checkbox"] {
            width: 24px;
            height: 24px;
            color: $mainColor;
            margin-top: 7px;
            padding: 10px;
        }
    }

    > h4 {
        /* 10$ */
        @include HomeTextStyle(500, 16px, 20px, $headerColor);
    }
}

.Count {
    display: flex;
    justify-content: space-between;
    > div {
        display: flex;
        >p{
            @include HomeTextStyle(500,18px,);
            /* quantity */

position: absolute;
width: 81px;
height: 22px;
left: 21px;
top: 345px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-transform: capitalize;

color: #090076;


        }
        > button {
            border-style: none;
            background: none;
            color: $mainColor;
            font-size: 23px;
        }
        > p {
            padding-top: 23px;
            /* 1 */

            @include HomeTextStyle(400, 18px, 22px, $headerColor);

            text-align: center;
        }
    }
}

.Bton {
    width: 370px;
    height: 42px;
    border-style: none;
    background-color: $mainColor;
    border-radius: 10px;
    margin-left: 40px;
    > div {
        margin-top: 10px;

        > p {
            @include HomeTextStyle(300, 18px, 22px, white);
            text-align: center;
            /* Add To Cart */
        }
    }
}
