.modalWrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.2);
    backdrop-filter: blur(10px);
}

.modalWrapper .open{
    height: 100%;
    display: block;
}

.modalWrapper .open{
    height: 100%;
    display: block;
}