@import "../../../Styles/CommonStyle.scss";

.modalWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.modalWrapper .open {
    height: 100%;
    display: block;
}

.modalWrapper .close {
    height: 0;
    display: none;
}

.modalBody {
    max-width: 500px;
    margin: auto;
    background: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    overflow-y: scroll;
}

.modalBody::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.modalBody {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modalClose {
    text-align: right;
    margin-top: -15px;
    font-size: 20px;
    color: #5a5a5a;
    cursor: pointer;
}

.ModalCardImgAndPrice {
    display: flex;
}

.PriceDescription {
   >h1{
       @include HomeTextStyle(500, 22px, 27px, $mainColor);
       margin-left: 10px;
   } 
   >h2{
       /* Gravida nibh */

@include HomeTextStyle(500,)

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #161616;


   }
}
